# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore data files
*.parquet
*.csv

# Ignore model files
*.pth
*.h5

# Ignore system files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore model
*.pkl
*.model
*.keras